*.sh text eol=lf
tests/mocks/* text eol=lf
tests/phase2-mocks/* text eol=lf
tests/phase3-mocks/* text eol=lf
tests/phase4a-mocks/* text eol=lf
tests/phase4b-mocks/* text eol=lf
config/unbound/*.conf text eol=lf
scripts/*.sh text eol=lf
systemd/* text eol=lf
*.env.example text eol=lf
